body{
    display:flex; 
    flex-direction: column;
    background: url(https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png) no-repeat center top fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 50px;
    margin-top:22px; 
  
}

h1{
    color: white;
    font-size:40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #e6d9ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 620px;
    margin-bottom: 200px;
   
    
}
h2{
    margin-top:12px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
button{
    
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    color: black;
    background:white;
    margin-bottom: 70px;
    margin-right: 20px;
    margin-top:-700px;
}
#ImagemProfile{
    display:flex;
    margin-bottom: 22px;
    width: 30px;
 
}
#repositorio{
    
    margin-top:12px;
    color: rgb(245, 179, 242);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}
#search{
   
    margin-left: 100px;
    
    
}
#id-digit{
    margin-top:12px;
    margin-left: 620px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    

}
#imagemGit{
    width: 50px;
}

img{
    
    width: 300px;
    margin-left: 670px;
    border-radius: 200px;
    margin-top:-500px;
}
input{
  
    border-radius: 100px;
    height: 25px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    padding:5px 20px 3px;
    margin-top:-500px;
   
}