body{
    display:flex; 
    flex-direction: column;
    background: url(https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png) no-repeat center top fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:9px;
   
  
}

h1{
    display: flex;
    align-items: center;
    color: white;
    font-size:40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #e6d9ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top:22px;
    margin-bottom: 22px;
    margin-left: 20px;
    
}

button{
    
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    color: black;
    background:white;
    margin-bottom: 80px;
    margin-right: 20px;
}

a{
    display:flex; 
    flex-direction: flex-end;
    /* flex-flow: row; */
    /* margin-bottom: -50px; */
    margin-left: 440px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(27, 41, 2);
    font-size:20px;
   
    
}

#repositorio{
    
    color: rgb(245, 179, 242);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}
#search{
   
    margin-left: 50px;
    
    
}

img{
    
    width: 300px;
    margin-top:50px;
    border-radius: 200px;
    margin-bottom: 20px;
   
    
}
input{
  
    border-radius: 100px;
    height: 25px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    padding:5px 20px 3px;
 
   
}   
#container{
    display: flex;
    width: 40%;
    
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    opacity: 0.9;
    margin-left: 600px;    
    
}
#conteudo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    margin-left: 10px;
}
#conteudoUrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
    margin-bottom: 100px;
}


   

